body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: rgb(30,12,41);
    background: linear-gradient(17deg, rgba(30,12,41,1) 0%, rgba(60,12,124,1) 37%, rgba(101,13,134,1) 94%);
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    align-self: center;
    place-items: center;
    grid-template-columns: 1fr 2fr;
}

.container .left {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 30px 0px 30px 60px;
}

.left figure {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: gainsboro; 
    display: flex;
    justify-content:center; /* Esto se aplica a la imagen dentro del contenedor, no al contenedor mismo */
    align-items:center; /* Esto se aplica a la imagen dentro del contenedor, no al contenedor mismo */
    margin: 50px 85px;
}

.left .info {
    text-align: center;
}

.left .info h1 {
    text-transform: uppercase;
    margin: 50px 20px 8px 20px;
    font-size: 18px;
}

.left .info .rol {
    margin-top: 4px;
    font-size: 16px;
}

.left .info .tech {
    margin: 32px;
}

.left .info .location {
    margin-top: 32px;
}

.left .info div.icons {
    margin: 40px;
}

.left .info div.icons p img {
    -webkit-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
}

.left .info .links .github-link img {
    width: 111px;
    height: 32px;
    border-radius: 8px;
}

.left .info .links .linkedin-link img {
    border-radius: 8px;
    margin-top: 4px;
    place-items: center;
}

.left .info div.contact {
    height: 50px;
    margin: 32px;
    display: grid;
    place-items: center;
}


.left .info .contact  button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #3c1870;
    -webkit-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
}

.left .info .contact  button a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

/* NOW THE RIGHT SIDE */

.container .right {
    width: 90%;
    max-height: 663px;
    display: grid;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 30px 60px 30px 20px;
}

.container .right .description {
    text-align: center;
}

.right .description h1 {
    text-transform: uppercase;
    margin-bottom: 32px;
}

.right .description .exp h1 {
    margin: 50px 20px 32px 20px;
    font-size: 18px;
}

.right .description p {
    font-size: 14px;
    font-weight: 500;
}

.right .description .tech {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
}

.right .description .tech h1 {
    margin-bottom: 16px;
}

.right .description .tech .frontend {
    display: flex;
    align-items: center;
}

.right .description .tech .backend {
    display: flex;
    align-items: center;
}

.right .description .intereses h1 {
    margin-top: 16px;
}

.right .description .intereses .subtitle {
    font-size: 16px;
    text-align: center;
}

.right .description .intereses p {
    text-align: justify;
    padding: 8px 80px;
}

/* DEBO GENERAR UN SCROLL EN LA SECCION DE LA DERECHA */
