body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    /* PURPLE BACKGROUND */
    background: rgb(0,0,0);
    background: linear-gradient(56deg, rgba(0,0,0,1) 5%, rgba(101,36,134,1) 55%, rgba(28,3,106,1) 100%);
    /* BLUE BACKGROUND */
    background: rgb(28,181,224);
    background: linear-gradient(90deg, rgba(28,181,224,1) 10%, rgba(0,0,70,1) 80%);
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    align-self: center;
    place-items: center;
    grid-template-columns: 1fr 2fr;
}

.container .left {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 20px;

    /* LA VERSIÓN LIGHT */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.container .left {
    -webkit-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
}

.left figure {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: gainsboro; 
    display: flex;
    justify-content:center; /* Esto se aplica a la imagen dentro del contenedor, no al contenedor mismo */
    align-items:center; /* Esto se aplica a la imagen dentro del contenedor, no al contenedor mismo */
    margin: 50px 85px;
}

.left .info {
    text-align: center;
}

.left .info h1 {
    text-transform: uppercase;
    margin: 50px 20px 8px 20px;
    font-size: 18px;
}

.left .info .rol {
    margin-top: 4px;
    font-size: 16px;
}

.left .info .tech {
    margin: 32px;
}

.left .info .location {
    margin-top: 32px;
}

.left .info div.icons {
    margin: 40px;
}

.left .info div.icons p img {
    -webkit-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
}

.left .info .links .github-link img {
    width: 111px;
    height: 32px;
    border-radius: 8px;
}

.left .info .links .linkedin-link img {
    border-radius: 8px;
    margin-top: 4px;
    place-items: center;
}

.left .info div.contact {
    height: 50px;
    margin: 32px;
    display: grid;
    place-items: center;
}


.left .info .contact  button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #800080;
    -webkit-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
}

.left .info .contact  button a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

/* NOW THE RIGHT SIDE */

.container .right {
    width: 80%;
    max-height: 663px;
    display: grid;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 20px;
    overflow-y: scroll;
    /* LA VERSIÓN LIGHT */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.container .right {
    -webkit-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
}

.container .right .description {
    text-align: center;
}

.right .description h1 {
    text-transform: uppercase;
    margin: 32px;
}

.right .description .exp h1 {
    margin: 50px 20px 48px 20px;
    font-size: 18px;
}

.right .description .exp p {
    
}

.right .description p {
    font-size: 14px;
    font-weight: 500;
}

.right .description .tech {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
}

.right .description .tech img {
    -webkit-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 14px -3px rgba(0,0,0,0.75);
    margin-left: 8px;
}

.right .description .tech .frontend {
    display: flex;
    place-items: center;
}

.right .description .tech .backend {
    display: flex;
    place-items: center;
}

.right .description .interests h1 {
    margin-top: 16px;
    margin-bottom: 48px;
}

.right .description .interests p.subtitle {
    margin-top: 32px;
}

.right .description .interests {
    font-size: 16px;
    text-align: center;
}
